<head>
    <!-- script -->
    <%- Loader("/public/javascript/index.min.js")
    .js("/public/javascript/bootstrap-select.js")
    .js("/public/javascript/bootstrap-datepicker.js")
    .js("/public/javascript/bootbox.min.js")
    .js("/public/javascript/index.js")
    .done(assets)
    %>
    <!-- style -->
    <%- Loader("/public/stylesheets/index.min.css")
    .css("/public/stylesheets/index.css")
    .css("/public/stylesheets/bootstrap-select.css")
    .css("/public/stylesheets/datepicker.css")
    .done(assets)
    %>
</head>

<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
<div class="main_div">
	<h3>简历搜索</h3>
	<hr>
	<form class="resumeSearchForm">
		<div class="row">
			<div class="col-md-2">姓名:<input class="form-control" name="name"></div>
			<div class="col-md-2">毕业院校:<input class="form-control"></div>
			<div class="col-md-3">工作单位:<input class="form-control"></div>
			<div class="col-md-2">
				<button type="button" class="btn btn-success" style="margin-top:18px" onclick="resumeSearch()">
					<span class="glyphicon glyphicon-search"></span>搜索
				</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
					<a href="#" class="list-group-item active">
						Cras justo odio
					</a>
					<a href="#" class="list-group-item">Dapibus</a>
					<a href="#" class="list-group-item">Morbi</a>
					<a href="#" class="list-group-item">Porta</a>
					<a href="#" class="list-group-item">Vestibulum</a>
				</div>
			</div>
			<div class="col-md-10">
				<div class="panel panel-primary">
		        <div class="panel-heading">
		          <h3 class="panel-title">简历详情</h3>
		        </div>
		        <div class="panel-body">
		          Panel content
		        </div>
		      </div>
			</div>
		</div>
	</form>
</div>
