<head>
<!-- script -->
<%- Loader("/public/javascript/upload.min.js")
    .js("/public/javascript/bootstrap-select.js")
    .js("/public/javascript/bootstrap-datepicker.js")
    .js("/public/javascript/bootbox.min.js")
    .js("/public/javascript/ajaxupload.js")
    .js("/public/javascript/upload.js")
    .done(assets)
    %>
<!-- style -->
<%- Loader("/public/stylesheet/upload.min.css")
    .css("/public/stylesheet/upload.css")
    .css("/public/stylesheet/bootstrap-select.css")
    .css("/public/stylesheet/datepicker.css")
    .done(assets)
    %></head>

<script type="text/javascript">
    $(document).ready(function(){
        loadAjaxUpload();
        $("#logErrAndDup").hide();
    });
</script>
<div class="main_div">
    <h3>简历上传</h3>
    <hr>
    <div>
        <p id="errorRemind"></p>
        <input style="margin-bottom:10px; " type="button" id="resumeInfo"  class="btn btn-success" value="上传简历包数据" />
        <br>
        <ol id="uploadedName"></ol>
    </div>
    <hr>
    <div id="logErrAndDup">
        <h3>上传日志</h3>
        <hr>
        <div class="jumbotron">
            <div id="showDetail"></div>
        </div>
    </div>

</div>